.tv-s1{

    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    left: 0px;
}


.tv-s2{

    background-color: green;
    width: 200px;
    height: 200px;
    position: relative;
    left: 300px;
    margin-top: -120px;
}


.tv-s3{

    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 600px;
    top: 0px;

}

.h1{


}